{{!-- <div>
    <h1>Restablecimiento de Contraseña</h1>
    <form id="resetForm">
        <label>Email</label>
        <input name="email" type="email">
        <br/>
        <label>Contraseña Nueva</label>
        <input name="password" type="password">
        <br/>
        <input type="submit">
    </form>
</div> --}}

<div style="max-width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f8f9fa; font-family: 'Roboto', sans-serif;">
    <h1 style="text-align: center;">Restablecimiento de Contraseña</h1>
    <form id="resetForm" style="margin-bottom: 20px;">
        <label style="display: block; margin-bottom: 5px;">Email</label>
        <input name="email" type="email" style="width: calc(100% - 22px); padding: 10px; border: 1px solid #ccc; border-radius: 3px; margin-bottom: 10px;">
        <br/>
        <label style="display: block; margin-bottom: 5px;">Contraseña Nueva</label>
        <input name="password" type="password" style="width: calc(100% - 22px); padding: 10px; border: 1px solid #ccc; border-radius: 3px; margin-bottom: 10px;">
        <br/>
        <input type="submit" value="Restablecer Contraseña" style="width: 100%; padding: 10px; background-color: gray; color: #fff; border: none; border-radius: 3px; cursor: pointer;">
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/reset.js"></script>

<style>

.swal2-title {
  font-family: "Roboto", sans-serif !important;
  
  font-size: 40px !important;
  color: gray !important;
}

.swal2-html-container{
 
  font-family: "Roboto", sans-serif !important;
  font-size: 20px !important;
}

.swal2-confirm {
  background-color: gray !important;
}
</style>